/*==================================================================================================================
                                    Universal Styling
===================================================================================================================*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

header nav ul li {
    display: inline-block;
}

main {
    padding-top: 120px;
    max-width: 70%;
    margin: 0 auto;
}

/*==================================================================================================================
                                    Home Page Styling
===================================================================================================================*/
.home {
    background: url('../images/floor.jpg') no-repeat fixed bottom/cover;
}

.home nav {
    float: right;
    padding: 30px;
}

.home nav a {
    text-decoration: none;
    color: black;
    transition: .5s;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
}

.home nav a:hover {
    color: burlywood;
    transition: .5s;
    text-decoration: underline;
}

.home h1 {
    font-size: 100px;
    font-family: 'Qahiri', sans-serif;
    text-indent: 80px;
    line-height: 1em;
    margin-left: 60px;
}

.adh {
    margin-top: 120px;
    margin-left: 150px;
}

.home h2 {
    font-size: 35px;
    display: inline-block;
    padding: 20px;
}

.artist {
    animation: slide 2s backwards 1 ease-out;
}

.dancer {
    animation: slide 2s backwards 1s 1 ease-out;
}

.human {
    animation: slide 2s backwards 2s 1 ease-out;
}

/*==================================================================================================================
                              "Other" Page Styling - About, Media, & Contact
===================================================================================================================*/
.other {
    background-color: burlywood;
}

.other header {
    background-color: #808080;
}

.other h1 {
    display: inline-block;
    width: 40%;
    text-align: left;
    font-family: 'Qahiri', sans-serif;
    font-size: 70px;
    margin: 20px 0 20px 30px;
}

.other header nav {
    display: inline-block;
    width: 50%;
    text-align: right;
}

.other nav a {
    text-decoration: none;
    color: black;
    margin: 10px;
    padding: 10px;
    background: white;
    transition: .5s;
    font-size: 20px;
    border-radius: 2px;
}

.other nav a:hover {
    color: burlywood;
    background: black;
    transition: .5s;
}

footer {
    background: #808080;
    color: black;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

footer p:first-of-type {
    font-weight: bold;
    font-size: 25px;
    margin: 0 0 15px 0;
}

footer p:last-of-type {
    margin: 15px 0 0 0;
}

footer a {
    color: burlywood;
    font-size: 25px;
    margin: 15px;
    transition: .3s;
}

footer a:hover {
    color: white;
    transition: .3s;
}

/*==================================================================================================================
                                    About Page Styling
===================================================================================================================*/
.about h2 {
    margin-top: 30px;
    font-size: 50px;
}

.about p {
    font-size: 20px;
    line-height: 1.5em;
    margin: 10px 0;
}

figure {
    float: right;
    margin: 0 0 10px 20px;
    width: 50%;
    text-align: right;
}

figcaption {
    color: white;
    padding: 10px 0;
    font-size: 15px;
}

.resume {
    text-align: center;
}

.resume h2 {
    margin-bottom: 30px;
}

/*==================================================================================================================
                                    Media Page Styling
===================================================================================================================*/

.media {
    text-align: center;
}

.media h2 {
    margin: 30px 0;
    font-size: 50px;
}

iframe {
   margin-bottom: 40px; 
}

span.lb-caption {
    font-size: 25px !important;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.image {
    filter: grayscale(100%);
    transition: .5s;
    box-sizing: border-box;
    padding: 10px;
    display: inline-block;
    width: 33%;
}

.image:hover {
    filter: grayscale(0%);
    transition: .5s;
}

/*==================================================================================================================
                                    Contact Page Styling
===================================================================================================================*/
.contact h2 {
    padding: 20px;
}

.contact h2,
.contact p {
    text-align: center;
}

form {
    background: #808080;
    padding: 20px;
    max-width: 500px;
    border-radius: 2px;
    color: black;
    margin: 20px auto;
    text-align: left;
}

.label_input_wrap {
    display: block;
}

.firstname label:before,
.lastname label:before,
.email label:before,
.message label:before,
.required:before {
    content: "*";
    color: red;
}

.submit input {
    background: white;
    color: black;
    padding: 5px 20px;
    border-radius: 2px;
    font-size: 20px;
    transition: .5s;
    display: inline-block;
}

.submit input:hover {
    color: burlywood;
    background: black;
    transition: .5s;
}

.input-section {
    margin-bottom: 10px;
}

input {
    padding: 5px 10px;
    border-radius: 2px;
}

textarea {
    padding: 10px;
    border-radius: 2px;
}

label {
    font-weight: bold;
    margin-bottom: 3px;
}

.required {
    float: right;
    font-size: 15px;
}

/*==================================================================================================================
                                    Home Page Keyframe
===================================================================================================================*/
@keyframes slide {
    from {
        transform: translateX(2000px);
    }
    to {
        transform: translateX(0px);
    }
}