/*==================================================================================================================
                                    Universal Styling
===================================================================================================================*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
}

header nav ul li {
    display: inline-block;
}

main {
    padding-top: 120px;
    max-width: 80%;
    margin: 0 auto;
}

h2,
p,
nav a {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 50px;
}

/*==================================================================================================================
                                    Home Page Styling
===================================================================================================================*/
.home {
    background: url('../images/floor.jpg') no-repeat fixed bottom/cover;
}

.home nav {
    float: right;
    padding: 30px;
}

.home nav a {
    text-decoration: none;
    color: black;
    transition: .5s;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
}

.home nav a:hover {
    color: burlywood;
    transition: .5s;
    text-decoration: underline;
}

.home h1 {
    font-size: 100px;
    font-family: 'Qahiri', sans-serif;
}

/*==================================================================================================================
                              "Other" Page Styling - About, Media, & Contact
===================================================================================================================*/
.other {
    background-color: burlywood;
}

.other header {
    background-color: #808080;
}

.other h1 {
    display: inline-block;
    width: 30%;
    text-align: left;
    font-family: 'Qahiri', sans-serif;
    font-size: 70px;
    margin: 20px 0 20px 30px;
}

.other header nav {
    display: inline-block;
    width: 60%;
    text-align: right;
}

.other nav a {
    text-decoration: none;
    color: black;
    margin: 10px;
    padding: 10px;
    background: white;
    transition: .5s;
    font-size: 20px;
    border-radius: 2px;
}

.other nav a:hover {
    color: burlywood;
    background: black;
    transition: .5s;
}

/*==================================================================================================================
                                    About Page Styling
===================================================================================================================*/
.about h2 {
    margin-top: 30px;
}

.about p {
    font-size: 20px;
    line-height: 1.5em;
    margin: 10px 0;
}

.headshot {
    float: right;
    margin: 0 0 20px 20px;
    width: 50%;
}

/*==================================================================================================================
                                    Media Page Styling
===================================================================================================================*/

/*==================================================================================================================
                                    Contact Page Styling
===================================================================================================================*/